src/main/resources/META-INF/ticket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="form">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="barcode"/>
        <xs:element ref="image"/>
        <xs:element ref="text"/>
      </xs:choice>
      <xs:attributeGroup ref="attlist.form"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.form">
    <xs:attribute name="height" use="required"/>
    <xs:attribute name="width" use="required"/>
  </xs:attributeGroup>
  <xs:element name="barcode">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.barcode"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.barcode">
    <xs:attribute name="x" use="required"/>
    <xs:attribute name="y" use="required"/>
    <xs:attribute name="rotation"/>
  </xs:attributeGroup>
  <xs:element name="image">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.image"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.image">
    <xs:attribute name="x" use="required"/>
    <xs:attribute name="y" use="required"/>
    <xs:attribute name="rotation"/>
  </xs:attributeGroup>
  <xs:element name="text">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.text"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.text">
    <xs:attribute name="x" use="required"/>
    <xs:attribute name="y" use="required"/>
    <xs:attribute name="font"/>
    <xs:attribute name="rotation"/>
    <xs:attribute name="size"/>
    <xs:attribute name="style"/>
  </xs:attributeGroup>
</xs:schema>
