applet/src/main/resources/common/META-INF/ticket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="form">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="barcode"/>
        <xs:element ref="image"/>
        <xs:element ref="text"/>
      </xs:choice>
      <xs:attributeGroup ref="attlist.form"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.form">
    <xs:attribute name="height" use="required"/>
    <xs:attribute name="width" use="required"/>
    <xs:attribute name="border">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="padding"/>
    <xs:attribute name="padding-left"/>
    <xs:attribute name="padding-right"/>
    <xs:attribute name="padding-top"/>
    <xs:attribute name="padding-bottom"/>
    <xs:attribute name="paper-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="portrait"/>
          <xs:enumeration value="landscape"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="paper-width"/>
    <xs:attribute name="paper-height"/>
  </xs:attributeGroup>
  <xs:element name="barcode">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.barcode"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.barcode">
    <xs:attribute name="x" use="required"/>
    <xs:attribute name="y" use="required"/>
    <xs:attribute name="rotation">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="1"/>
          <xs:enumeration value="2"/>
          <xs:enumeration value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="image">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.image"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.image">
    <xs:attribute name="x" use="required"/>
    <xs:attribute name="y" use="required"/>
    <xs:attribute name="rotation">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="1"/>
          <xs:enumeration value="2"/>
          <xs:enumeration value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="text">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.text"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.text">
    <xs:attribute name="x" use="required"/>
    <xs:attribute name="y" use="required"/>
    <xs:attribute name="font"/>
    <xs:attribute name="rotation">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="1"/>
          <xs:enumeration value="2"/>
          <xs:enumeration value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="size"/>
    <xs:attribute name="style"/>
  </xs:attributeGroup>
</xs:schema>
